# Python based Backend Application

trigger: none

pool: mera-pool

stages:
- stage: deploy
  jobs:
  - deployment: Deploybackend
    displayName: Deploy Python App
    environment: 
      name: 'Python_App'
      resourceName: py-pip-vm   # If there is only 1 VM then no need to define
      resourceType: virtualMachine
    strategy:
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            displayName: Updating Ubuntu
            inputs:
              targetType: 'inline'
              script: 'sudo apt update'
            
          # - task: Bash@3
          #   displayName: Install Python-PIP
          #   inputs:
          #     targetType: 'inline'
          #     script: 'sudo apt install python3-pip'

          - task: Bash@3
            displayName: Run pre-defined commands
            inputs:
              targetType: 'inline'
              script: |
                cd /
                
                sudo su
                
                apt-get update && apt-get install -y curl gnupg2 unixodbc unixodbc-dev
                
                curl -fsSL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor -o /usr/share/keyrings/microsoft.gpg && \
                    echo "deb [arch=amd64 signed-by=/usr/share/keyrings/microsoft.gpg] https://packages.microsoft.com/debian/12/prod bookworm main" \
                    > /etc/apt/sources.list.d/mssql-release.list
                
                apt-get update && ACCEPT_EULA=Y apt-get install -y msodbcsql18
                
                exit

          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                cd /
                
                sudo git clone https://github.com/devopsinsiders/PyTodoBackendMonolith.git
                
                cd /PyTodoBackendMonolith
                
                sudo pip install -r requirements.txt
                
                sudo uvicorn app:app --host 0.0.0.0 --port 8000

  
